* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #aaa;
	font-size: 14px;
}
.questioncontainer {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 300px;
	background-color: #fff;
	margin: 5vh 0;
}
.questioncontainer div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 20px;
	max-width: 800px;
}
.answerscontainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.answerscontainer div {
	text-align: center;
}
.answerbutton {
	display: inline-block;
	position: relative;
	width: 40vw;
	max-width: 300px;
	max-height: 300px;
	height: 40vw;
	margin: 10px 10px;
	border: 1px solid rgba(0, 0, 0, 0.7);
	text-align: center;
	border-radius: 20px;
	overflow: auto;
}
.answerbutton button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	background: none;
}
.answerbutton button p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
p.badanswers {
	position: absolute;
	bottom: 0;
}
.firstanswer {
	background-color: royalblue;
}
.secondanswer {
	background-color: tomato;
}
.thirdanswer {
	background-color: yellowgreen;
}
.fourthanswer {
	background-color: rgb(214, 225, 65);
}
